.container {
	cursor: default;
	text-align: center;

	.search-container {
		margin: auto;
		padding: 5px;
		width: 600px;

		.search-input {
			width: 400px;
			cursor: text;
			background-color: #171717;
			border-radius: 0px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		.search-btn {
			background-color: #34653a;
			border-radius: 0px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}

	.mods {
		
	}
}
