.box-area {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 49px;
	width: 95.9%;
	height: 100%;
	overflow: hidden;
}

.box-area li {
	@apply bg-base-100;
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	animation: boxes 25s linear infinite;
	bottom: -150px;
	border-radius: 5px;
}

.box-area li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}
.box-area li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}
.box-area li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}
.box-area li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}
.box-area li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}
.box-area li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes boxes {
	0% {
		transform: translateY(7vh) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: translateY(-125vh) rotate(360deg);
		opacity: 1;
	}
}
