.form {
	margin-top: 50px;
	width: 300px;
	cursor: default;

	.create-btn {
		background-color: #34653a;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.progressbar {
		background-color: #514b9e;
		margin-top: 20px;
		text-align: center;
	}
}
