.version-select {
	&__control {
		border-radius: 8px !important;
		border: 1px solid #1a1a1a !important;
		padding: 0.2em 0.5em !important;
		font-size: 1em !important;
		font-weight: 500 !important;
		font-family: inherit !important;
		background-color: #1a1a1a !important;
		transition: border-color 0.25s !important;
		width: 100% !important;
		box-shadow: none !important;

		&:hover {
			border-color: #646cff !important;
		}

		&:focus,
		&:focus-visible {
			border-color: #646cff;
			outline: 4px auto -webkit-focus-ring-color !important;
		}

		&--menu-is-open {
			border-color: rgba(255, 255, 255, 0.87) !important;
		}
	}

	&__value-container {
		padding: 0 !important;
		cursor: text !important;
	}

	&__input-container {
		color: rgba(255, 255, 255, 0.87) !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__indicators {
		cursor: pointer !important;
	}

	&__indicator {
		color: rgba(147, 147, 147, 0.87) !important;

		&:hover {
			color: rgba(255, 255, 255, 0.87) !important;
		}
	}

	&__menu {
		width: 100% !important;
		background-color: #1a1a1a !important;
		color: rgba(255, 255, 255, 0.87) !important;
	}

	&__option {
		cursor: pointer !important;
		&--is-focused {
			background-color: lighten($color: #1a1a1a, $amount: 8%) !important;
		}
	}

	&-container {
		> div {
			outline: none !important;
			box-shadow: none !important;
		}

		.form-control__control {
			border-color: rgba(255, 255, 255, 0.87) !important;
			box-shadow: none !important;
		}

		&:hover,
		&--menu-is-open {
			border-color: rgba(255, 255, 255, 0.87) !important;
		}

		.form-control__indicators {
			cursor: pointer !important;
		}
	}
}

.css-b62m3t-container {
	width: 100%;
}
