.container {
	display: flex;
	flex-direction: column;

	.top-container {
		display: flex;
		flex-direction: row;
		margin-bottom: 1px;

		.info-container {
			margin-right: 1px;
			border-radius: 0;
			border-top-left-radius: 8px;
			width: 350px;
			flex-grow: 2;
			cursor: default;

			.image-container {
				width: 300px;
				text-align: center;
				.image {
					padding: 10px;
				}
			}
		}
		.control-container {
			width: 200px;
			flex-grow: 1;

			.control {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}

	.mods-container {
		.mods {
			margin-top: 5px;
			height: 60vh;
			overflow-y: auto;
		}
		.empty-mods {
			margin: 10px;
		}
	}
}
