.bubbles-container {
	top: 0;
	left: 0;
	margin-left: 49px;
	position: absolute;
	width: 95.9%;
	height: 100%;
	overflow: hidden;
}

.bubbles {
	margin-left: 2px;
	position: relative;
	display: flex;
}

.bubbles span {
	display: flex;
	flex-grow: 1;
	height: calc(100vw / 50);
	@apply bg-primary;
	position: relative;
	border-radius: 50%;
	box-shadow: 0 0 0 10px
			var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity))),
		0 0 50px var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity))),
		0 0 100px var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
	animation: bubbles 15s linear infinite;
	animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
	@apply bg-secondary;
	box-shadow: 0 0 0 10px
			var(--fallback-s, oklch(var(--s) / var(--tw-bg-opacity))),
		0 0 50px var(--fallback-s, oklch(var(--s) / var(--tw-bg-opacity))),
		0 0 100px var(--fallback-s, oklch(var(--s) / var(--tw-bg-opacity)));
}

@keyframes bubbles {
	0% {
		transform: translateY(100vh) scale(0);
	}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}
