.container {
	background-color: #111;
	width: 350px;
	cursor: default;
	margin: auto;

	.image {
		padding: 10px;
		text-align: center;
	}

	.opendir-btn {
		margin-right: 10px;
	}

	.play-btn {
		width: 115px;
	}

	.btn-container {
		margin-top: 20px;
		text-align: center;
	}
}
