.container {
	flex-wrap: wrap;
	width: 400px;
	flex-grow: 1;
	margin: 1px;
	background-color: #171717;

	.title {
		color: rgb(125, 125, 231);
	}

	author-container {
		display: flex;
		flex-direction: column;
	}

	.description {
		word-wrap: break-word;
		margin-top: 20px;
	}

	.tags {
		display: flex;
		margin-top: 5px;
		justify-content: center;

		.tag {
			display: inline-block;
			align-self: flex-end;
			background-color: #0e0e0e;
			padding: 2px 7px;
			margin: 1px;
		}
	}
}
