.container {
	flex-wrap: wrap;
	width: 393px;
	margin: 1px;

	background-color: #171717;
	border-radius: 0px;

	.title {
		color: rgb(125, 125, 231);
	}

	.author-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.description {
		margin-top: 20px;
	}

	.tags {
		display: flex;
		margin-top: 5px;
		justify-content: center;

		.tag {
			display: inline-block;
			align-self: flex-end;
			background-color: #0e0e0e;
			padding: 2px 7px;
			margin: 1px;
		}
	}
}
