@mixin btn-style() {
	flex: 1 1 auto;
	padding: 0 5px;
	height: 24px;
	-webkit-app-region: no-drag;
}

@mixin bg-color($color) {
	background-color: #{$color};
}

.container {
	background-color: #1b1d23;

	display: flex;
	justify-content: space-between;

	height: 24px;
	padding: 0 5px;

	-webkit-app-region: drag;
	-webkit-user-select: none;
	user-select: none;

	.btn-container {
		display: flex;
		margin: 0px -5px;

		.btn,
		.btn-close {
			@include btn-style();
		}

		.btn:hover {
			@include bg-color(#646cff);
		}

		.btn:active {
			@include bg-color(#444df4);
		}

		.btn-close:hover {
			@include bg-color(#ee4f4f);
		}

		.btn-close:active {
			@include bg-color(#c53d3d);
		}
	}
}
