.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-grow: 1;
	margin-left: 4px;

	.opendir-btn {
		margin: 0 0 2px 0;
		border-radius: 0;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		width: 100%;
		flex-grow: 1;
	}

	.delete-btn {
		margin: 0 0 2px 0;
		border-radius: 0;
		width: 100%;
		flex-grow: 1;
	}
}
