.container {
	flex: auto;
	flex-direction: column;
	background-color: #141414;
	@media (min-width: 600px) {
		& {
			flex: 0 0 50px;
		}
	}

	.top-items {
		flex-direction: column;
	}

	.bottom-items {
		margin-top: calc(100vh - 280px);
	}
}
