.sidebar {
  flex: auto;
  flex-direction: column;
  background-color: #141414;
}

@media (min-width: 600px) {
  .sidebar {
    flex: 0 0 50px;
  }
}

.item {
  border-radius: 8px;
  border: 0.15em solid transparent;
  padding: 10px;
  margin: 0.2em 0.3em 0.2em 0.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.4s;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}

.top_items {
  flex-direction: column;
}

.bottom_items {
  margin-top: calc(100vh - 280px);
}

.item:hover {
  border-color: #646cff;
  border-width: 0.15em;
}

.item:focus,
.item:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}