.container {
	flex: auto;
	flex-direction: column;
	background-color: rgba($color: #101010, $alpha: 0.75);
	@media (min-width: 1200px) {
		& {
			flex: 0 0 50px;
		}
	}

	.top-items {
		flex-direction: column;
	}

	.bottom-items {
		margin-top: calc(100vh - 255px);
	}
}
