@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	transition: background-color 0.3s ease-out;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	display: flex;
	place-items: center;
	position: relative;
}

.window {
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

.window main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex: 1 0 0px;
	overflow-y: auto;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

/* Стилизация полосы прокрутки для всех элементов */
* {
	scrollbar-width: thin; /* Для Firefox */
	scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Для Firefox */
}

/* Стилизация для Webkit-браузеров, таких как Chrome, Safari и новых версий Edge */
*::-webkit-scrollbar {
	width: 7px;
	height: 7px; /* Можно добавить, если нужна горизонтальная полоса прокрутки */
}

*::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

*::-webkit-scrollbar-track {
	background-color: transparent; /* Сделать дорожку полосы прокрутки прозрачной */
}

/* Элементы анимации для переключения страниц */
/* Анимация вверх */
.page-top-enter {
	opacity: 0.5;
	transform: translateY(-50px);
}

.page-top-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 200ms ease, transform 200ms ease;
}

.page-top-exit {
	opacity: 0.5;
	transform: translateY(0);
}

.page-top-exit-active {
	opacity: 0.05;
	transform: translateY(50px);
}

/* Анимация вниз */
.page-down-enter {
	opacity: 0.5;
	transform: translateY(50px);
}

.page-down-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 200ms ease, transform 200ms ease;
}

.page-down-exit {
	opacity: 0.5;
	transform: translateY(0);
}

.page-down-exit-active {
	opacity: 0.05;
	transform: translateY(-50px);
}

/* Анимация модального окна */
.modal-enter {
	opacity: 0;
	transform: scale(0.9);
}
.modal-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.modal-exit {
	opacity: 1;
	transform: scale(1);
}
.modal-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
