* {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	display: flex;
	place-items: center;
	background-image: url('/background/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#root {
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.black-style {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
.black-style:hover {
	border-color: #646cff;
}
.black-style:focus,
.black-style:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.versions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content {
	margin: 10px 0 0 10px;
}

.container {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-around;

	main {
		flex: auto;
		overflow-y: auto;
		height: calc(100vh - 24px);
	}

	@media (min-width: 600px) {
		main {
			flex: 1 0 0px;
		}
	}
}

.error-text {
	color: red;
	font-weight: 40;
}

.violet-text {
	color: #7c5fdd;
}

.green-bg {
	background-color: #34653a;
}

.violet-bg {
	background-color: #2d2dd2;
}
