.modal {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: scale(0);
}

.active {
	transform: scale(1);
}

.content {
	width: 70%;
	height: 70vh;
	overflow-y: auto;
	padding: 20px;
	border-radius: 12px;
	@apply bg-base-200;
}
