@mixin btn-style() {
	flex: 1 1 auto;
	padding: 0 5px;
	height: 24px;
	-webkit-app-region: no-drag;
}

@mixin bg-color($color) {
	background-color: #{$color};
}

.btn,
.btn-close {
	@include btn-style();
}

.btn:hover {
	@include bg-color(#646cff);
}

.btn:active {
	@include bg-color(#444df4);
}

.btn-close:hover {
	@include bg-color(#ee4f4f);
}

.btn-close:active {
	@include bg-color(#c53d3d);
}
