@mixin btn-style() {
	flex: 1 1 auto;
	padding: 0 5px;
	height: 24px;
	-webkit-app-region: no-drag;
}

@mixin bg-color($color) {
	background-color: #{$color};
}

.btn-minimize {
	@include btn-style();

	&:hover {
		@include bg-color(#605090);
	}

	&:active {
		@include bg-color(#603090);
	}
}

.btn-toggle-maximize {
	@include btn-style();

	&:hover {
		@include bg-color(#405090);
	}

	&:active {
		@include bg-color(#203090);
	}
}

.btn-close {
	@include btn-style();

	&:hover {
		@include bg-color(#903030);
	}

	&:active {
		@include bg-color(#992912);
	}
}
